<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>일반게시판</title>
<link rel="stylesheet" href="./../../assets/css/mysite.css">
<link rel="stylesheet" href="./../../assets/css/board.css">
</head>
<body>
<div id="wrap">
	<div id="header" class="clearfix">
		<h1><a class="" href="./../main/index.html">MySite</a></h1>

		<ul class="clearfix">
			<li class="clearfix"><a href="">로그인</a></li>
			<li class="clearfix"><a href="./../member/signUp.html">회원가입</a></li>
		</ul>
	</div>
	<!--  header -->

	<div id="nav" class="clearfix">
		<ul>
			<li><a class="" href="./../apply/resume.html">입사지원서</a></li>
			<li><a class="" href="./list.html">게시판</a></li>
			<li><a class="" href="">갤러리</a></li>
			<li><a class="" href="">방명록</a></li>
		</ul>
	</div>
	<!--  nav -->

	<div id="contents" class="clearfix">
		 <div id="aside">
		 	<h2>게시판</h2>

		 	<ul>
		 		<li><a class="" href="">일반 게시판</a></li>
		 		<li><a class="" href="">댓글 게시판</a></li>
		 		<li><a class="" href="">첨부 게시판</a></li>
		 	</ul>
		 </div>
		 <!--  aside -->

		 <div id="main-contents">
		 	<div id="main-contents-header" class="clearfix">
			 	<h3>일반게시판</h3>

 			 	<ol>
			 		<li><a class="" href="">홈</a></li>
			 		<li><a class="" href="">게시판</a></li>
			 		<li><a class="" href="">일반게시판</a></li>
			 	</ol>
		 	</div>
		 	<!-- - main contents header  -->

			<div id="main-contents-body-board" class="clearfix">
		 		<div id="search">
					<input type="text">
					<button type="submit">검색</button>
				</div>
				<!--  메뉴 상단 검색 버튼  -->

				<div id="list">
					<table>
						<colgroup>
							<col style="width: 80px">
							<col style="width: 230px">
							<col style="width: 100px">
							<col style="width: 100px">
							<col style="width: 160px">
							<col style="width: 80px">
						</colgroup>
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>글쓴이</th>
								<th>조회수</th>
								<th>작성일</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>0001</td>
								<td><a href="">정우성입니다.</a></td>
								<td>정우성</td>
								<td>2002</td>
								<td>2022-04-09</td>
								<td>삭제</td>
							</tr>
							<tr>
								<td>0001</td>
								<td><a href="">정우성입니다.</a></td>
								<td>정우성</td>
								<td>2002</td>
								<td>2022-04-09</td>
								<td>삭제</td>
							</tr>
							<tr>
								<td>0001</td>
								<td><a href="">정우성입니다.</a></td>
								<td>정우성</td>
								<td>2002</td>
								<td>2022-04-09</td>
								<td>삭제</td>
							</tr>
							<tr>
								<td>0001</td>
								<td><a href="">정우성입니다.</a></td>
								<td>정우성</td>
								<td>2002</td>
								<td>2022-04-09</td>
								<td>삭제</td>
							</tr>
							<tr>
								<td>0001</td>
								<td><a href="">정우성입니다.</a></td>
								<td>정우성</td>
								<td>2002</td>
								<td>2022-04-09</td>
								<td>삭제</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--  table  -->

			</div>
			<!--  main contents body -->

			<div id="main-contents-footer" class="clearfix">
				<ol>
					<li><a href="">◀</a></li>
					<li><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="">5</a></li>
					<li><a href="">6</a></li>
					<li><a href="">7</a></li>
					<li><a href="">8</a></li>
					<li><a href="">9</a></li>
					<li><a href="">10</a></li>
					<li><a href="">▶</a></li>
				</ol>

				<button id="btn-writing" type="button"><a href="./writeForm.html">글쓰기</a></button>

			</div>
			<!--  main contents footer 끝 -->
		</div>
		<!--  main -->
	</div>
	<!--  contents -->


	<div id="footer">
		<div>Copyright ⓒ 2020 정우성, All right reserved</div>
	</div>
	<!--  footer -->
</div>
<!--  wrap -->
</body>
</html>
